.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f5f2;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 1;
}

.brandName {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(145 63% 42%);
  margin-top: -0.5rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
