.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 0.7rem;
  color: #a3968f;
  cursor: pointer;
  transition: color 0.2s;
  background: none;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
}

.navItem:hover,
.navItemActive {
  color: #28af60;
}
