.roundedButton {
  color: white; /* Cor do texto */

  height: 60px;
  border: none; /* Remove a borda */
  font-weight: 600;
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  transition: opacity 0.2s;
}

.buttonSuccess {
  background-color: #28af60; /* Cor de fundo */
}

.buttonSuccess:hover {
  opacity: 0.9;
}

.buttonCancel {
  background: #6c757d;
}

.buttonCancel:hover {
  background: #c82333;
}

.buttonTamanhoMinimo {
  width: 60px;
}

.buttonTamanhoTotal {
  width: 100%;
}

.formatCircle {
  border-radius: 50%;
}

.formatRounded {
  border-radius: 0.75rem;
}
