.roundedButton {
  color: white; /* Cor do texto */

  height: 60px;
  border: none; /* Remove a borda */

  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  transition: background-color 0.3s ease; /* Animação ao passar o mouse */
}

.buttonSuccess {
  background-color: #28a745; /* Cor de fundo */
}

.buttonSuccess:hover {
  background-color: #218838; /* Cor de fundo ao passar o mouse */
}

.buttonCancel {
  background: #6c757d;
}

.buttonCancel:hover {
  background: #c82333;
}

.buttonTamanhoMinimo {
  width: 60px;
}

.buttonTamanhoTotal {
  width: 100%;
}

.formatCircle {
  border-radius: 50%;
}

.formatRounded {
  border-radius: 10px;
}
