.container {
  display: flex;

  justify-content: center;
  font-weight: 700;
  align-items: center;

  height: 60px;
  width: 100%;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize14 {
  font-size: 14px;
}
