.containerTotalCard {
  display: flex;
  flex-direction: column;
  background: hsl(35 80% 45%);
  gap: 6px;
  padding: 24px 20px;
}

.containerSubTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.containerItemExpense {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.labelCountItens {
  font-size: 0.9rem;
}
