.title {
  font-weight: 700;
}

.fontSize17 {
  font-size: 17px;
}

.fontSize20 {
  font-size: 20px;
}

.fontSize19 {
  font-size: 19px;
}

.colorCommom {
  color: #000000;
}

.colorSuccess {
  color: #28ae65;
}
