.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  background-color: #f4f6f9;
}

.bodyRel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Faz o rodapé ocupar toda a largura */
  display: flex; /* Adiciona flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  padding: 10px;
}

.allWidhtAndHeight {
  width: 100%;
  height: 100%;
}
